/* JonahStrap v2.0.0 - css.jonahkc.com */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
html, body {
  font-family: 'Nunito', sans-serif;
  width:100%;
  height:100%;
  background-color: #141414;
  color: #fff;
  margin: 0;
  padding: 0px;
}
p {
  font-size: 18px;
  line-height: 2;
  text-align: center;
}
img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
  display:inline-block;
  transition: ease-in-out .2s;
}
a:hover {
  transform: translate(0, -3px);
}
.invisA, .invisA:hover {
  text-decoration: none;
  dislay: inline;
  transition: none;
  transform: none;
}
/* custom */
.homepageContainer {
  width:100%;
  min-height:90%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.homepageCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}
.homepageCarousel {
  display: flex;
  max-width:100vw;
  overflow-y: auto;
}
.homepageCarousel a {
  margin: 10px;
  transition: ease-in-out .2s;
  text-align:center;
  text-decoration: none;
}
.homepageCarousel a:hover {
  transform: scale(1.1);
}
.homepageFooter{
  width:100%;
  min-height:10%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.homepageFooter a {
  text-decoration: none;
}
.homepageFooter hr {
  width: 300px;
  height: 5px;
  background: white;
  border: none;
}
.newsletterButton {
  padding:5px;
  background:transparent;
  color: #fff;
  border: 3px white solid;
  transition: ease-in-out .2s;
  cursor: pointer;
}
.newsletterButton:hover {
  transform: translate(0, -3px);
  background: white;
  color: #000;
}
input {
  padding:2px;
  background: #fff;
  color: #000;
  border: 3px white solid;
}
.termsContainer {
  padding: 20px;
}
.termsContainer p {
  text-align: left;
}
.termsContainer h3, .termsContainer h2 {
  text-align: center;
}
/* that one custom scrollbar */
.homepageCarousel::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.homepageCarousel::-webkit-scrollbar-track {
  backrgound:transparent;
}
.homepageCarousel::-webkit-scrollbar-thumb {
  background: #fff; 
}